/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #6b6b6b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #171a2c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

/* * {
  outline: 1px solid #f00 !important;
} */
